<template>
	<div class="container mt-3 mt-md-5">
		<form action="">
			<div class="row g-4">
				<h2 class="fs-5">1 - Dados Pessoais</h2>
				<div class="col-12 col-md-6">
					<div class="form-floating">
						<input type="text" class="form-control" id="name">
						<label for="name">Nome completo</label>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-floating">
						<input type="text" class="form-control" id="nationality">
						<label for="nationality">Nacionalidade</label>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="form-floating">
						<select  class="form-control" id="gender">
							<option value="" disabled selected hidden></option>
							<option value="masculino">Masculino</option>
							<option value="feminino">Feminino</option>
							<option value="outro">Outro</option>
						</select>
						<label for="gender">Orientação sexual</label>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="form-floating">
						<input type="number" class="form-control" id="age">
						<label for="age">Idade</label>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="form-floating">
						<select  class="form-control" id="maritalStatus">
							<option value="" disabled selected hidden></option>
							<option value="solteiro">Solteiro(a)</option>
							<option value="feminino">Casado(a)</option>
							<option value="uniao-estavel">União Estável</option>
							<option value="separado">Separado(a)</option>
							<option value="divorciado">Divorciado(a)</option>
							<option value="viuvo">Viúvo</option>
						</select>
						<label for="maritalStatus">Estado Civil</label>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="form-floating">
						<select  class="form-control" id="children">
							<option value="" disabled selected hidden></option>
							<option value="sim">Sim</option>
							<option value="nao">Não</option>
						</select>
						<label for="children">Tem filho(s)?</label>
					</div>
				</div>
				<div class="col-12 col-md-3">
					<div class="form-floating">
						<input type="text" class="form-control" id="cep">
						<label for="cep">CEP</label>
					</div>
				</div>
				<div class="col-8 col-md-6">
					<div class="form-floating">
						<input type="text" class="form-control" id="street">
						<label for="street">Logradouro</label>
					</div>
				</div>
				<div class="col-4 col-md-3">
					<div class="form-floating">
						<input type="text" class="form-control" id="number">
						<label for="number">Número</label>
					</div>
				</div>
				<div class="col-8 col-md-4">
					<div class="form-floating">
						<input type="text" class="form-control" id="city">
						<label for="city">Cidade</label>
					</div>
				</div>
				<div class="col-4 col-md-2">
					<div class="form-floating">
						<input type="text" class="form-control" id="state">
						<label for="state">Estado</label>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-floating">
						<input type="text" class="form-control" id="complement">
						<label for="complement">Complemento</label>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="form-floating">
						<input type="text" class="form-control" id="phone1">
						<label for="phone1">Telefone 1</label>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="form-floating">
						<input type="text" class="form-control" id="phone2">
						<label for="phone2">Telefone 2</label>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-floating">
						<input type="email" class="form-control" id="email">
						<label for="email">E-mail</label>
					</div>
				</div>
			</div>

			<div class="row g-4 mt-3 mt-md-5">
				<h2 class="fs-5">2 - Objetivos</h2>
				<div class="col-12">
					<div class="form-floating">
						<textarea class="form-control" id="objective"></textarea>
						<label for="objective">Descreva seus objetivos</label>
					</div>
				</div>
			</div>

			<div class="row g-4 mt-3 mt-md-5">
				<h2 class="fs-5">3 - Formação Acadêmica</h2>
				<div class="col-12">
					<div class="form-floating">
						<input type="text" class="form-control" id="course">
						<label for="course">Curso</label>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-floating">
						<input type="text" class="form-control" id="institution">
						<label for="institution">Instituição</label>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="form-floating">
						<select class="form-control" id="conclusion">
							<option value="" disabled selected hidden></option>
							<option value="concluido">Concluido em:</option>
							<option value="previsao">Previsão de conclusão em:</option>
						</select>
						<label for="conclusion">Ano de Conclusão</label>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="form-floating">
						<input type="text" class="form-control" id="conclusionYear">
						<label for="conclusionYear">Ano</label>
					</div>
				</div>
				<div class="col-12 add-course">
					<font-awesome-icon icon="plus" />
					<span class="ms-3">Adicionar outra fromação</span>
				</div>
			</div>

			<div class="row g-4 mt-3 mt-md-5">
				<h2 class="fs-5">4 - Experiência Profissional</h2>
				<div class="col-12 col-md-4">
					<div class="form-floating">
						<input type="text" class="form-control" id="company">
						<label for="company">Empresa</label>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="form-floating">
						<input type="text" class="form-control" id="position">
						<label for="position">Cargo</label>
					</div>
				</div>
				<div class="col-6 col-md-2">
					<div class="form-floating">
						<input type="text" class="form-control" id="entryYear">
						<label for="entryYear">Ano de entrada</label>
					</div>
				</div>
				<div class="col-6 col-md-2">
					<div class="form-floating">
						<input type="text" class="form-control" id="exitYear">
						<label for="exitYear">Ano de saída</label>
					</div>
				</div>
				<div class="col-12">
					<div class="form-floating">
						<textarea class="form-control" id="activities"></textarea>
						<label for="activities">Atividades realizadas no cargo</label>
					</div>
				</div>
				<div class="col-12 add-course">
					<font-awesome-icon icon="plus" />
					<span class="ms-3">Adicionar outra experiência</span>
				</div>
			</div>

			<div class="row g-4 mt-3 mt-md-5">
				<h2 class="fs-5">5 - Qualificações e Atividades Complementares</h2>
				<div class="col-12">
					<div class="form-floating">
						<textarea class="form-control" id="qualifications"></textarea>
						<label for="qualifications">Qualificações e Atividades Complementares</label>
					</div>
				</div>
			</div>

			<div class="row g-4 mt-3 mt-md-5">
				<h2 class="fs-5">6 - Informações Adicionais</h2>
				<div class="col-12">
					<div class="form-floating">
						<textarea class="form-control" id="information"></textarea>
						<label for="information">Informações Adicionais</label>
					</div>
				</div>
			</div>

			<button class="btn btn-success mt-5">Enviar</button>
		</form>
	</div>
</template>

<script>
export default {
	
}
</script>

<style lang="scss" scoped>
	.add-course {
		font-size: 14px;
		color: #0000bb;
	}
</style>
